/SourceFolder/OpenAi/Biology-2e-openstax/Cld/Backup_qa/
/SourceFolder/OpenAi/Biology-2e-openstax/Cld/input_textbook/
/SourceFolder/OpenAi/Biology-2e-openstax/Cld/processed_data/
/SourceFolder/OpenAi/Biology-2e-openstax/Cld/qa_results/
